<h1>Make your form here</h1>
<form action="/show" method="POST">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[Height]">
  Ship Name: <input type="text" name="pirate[ship][name]">
  Ship Type: <input type="text" name="pirate[ship][type]">
  Ship Booty: <input type="text" name="pirate[ship][booty]">
  Ship Name: <input type="text" name="pirate[ship][name]">
  Ship Type: <input type="text" name="pirate[ship][type]">
  Ship Booty: <input type="text" name="pirate[ship][booty]">
  <input type="submit">
</form>
