<h1>Make your form here</h1>
<form action="/show" method="POST">
  Pirate Name: <input type="text" name="pirate[name]"></br>
  Pirate Weight: <input type="text" name="pirate[weight]"></br>
  Pirate Height: <input type="text" name="pirate[Height]"></br>
  Ship Name: <input type="text" name="pirate[ship][name]"></br>
  Ship Type: <input type="text" name="pirate[ship][type]"></br>
  Ship Booty: <input type="text" name="pirate[ship][booty]"></br>
  Ship Name: <input type="text" name="pirate[ship][name]"></br>
  Ship Type: <input type="text" name="pirate[ship][type]"></br>
  Ship Booty: <input type="text" name="pirate[ship][booty]"></br>
  <input type="submit">
</form>
