<h1>Make your form here</h1>
<form action="/pirates" method="POST">
  <h2>Pirate</h2>
  Pirate Name: <input type="text" name="pirate[name]"></br>
  Pirate Weight: <input type="text" name="pirate[weight]"></br>
  Pirate Height: <input type="text" name="pirate[height]"></br>
  <h2>Ship(s)</h2>
  Ship Name: <input type="text" name="pirate[ships][][name]"></br>
  Ship Type: <input type="text" name="pirate[ships][][type]"></br>
  Ship Booty: <input type="text" name="pirate[ships][][booty]"></br>
  Ship Name: <input type="text" name="pirate[ships][][name]"></br>
  Ship Type: <input type="text" name="pirate[ships][][type]"></br>
  Ship Booty: <input type="text" name="pirate[ships][][booty]"></br>
  <input type="ubmit">
</form>
